{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
<div class="socialacc-container">
  <div class="left-scontainer">
    <img src="{% static 'img/gibbit-point.png' %}" alt="Gibbit Point" class="gibbit-point" />
  </div>
  <div class="right-scontainer">
    <a href="{% url 'account_login' %}">
      <img src="{% static 'img/back-arrow-dark.png' %}" alt="Back" class="back back-dark" />
      <img src="{% static 'img/back-arrow-light.png' %}" alt="Back" class="back back-light" />
    </a>
    <p class="continue-title">Continue with Google</p>
    <p class="continue-subtitle">You are about to sign in using your Google Account</p>
    <form method="post">
      {% csrf_token %} {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button type="submit" class="continue-button">Continue</button>
    </form>
  </div>
</div>
{% endblock %}
