{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="logout-container">
    <div class="logout-card">
        <a href="javascript:history.back()" class="cancel-btn">
            <img src="{% static 'img/back-arrow-dark.png' %}" alt="Back" class="back back-dark" />
            <img src="{% static 'img/back-arrow-light.png' %}" alt="Back" class="back back-light" />
        </a>
        <p class="logout-title">Sign Out</p>
        <p class="logout-subtitle">Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-btn">
                Sign Out
            </button>
        </form>
    </div>
</div>
{% endblock %}