{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="password-supercontainer">
  <div class="password-container">
    <a href="{% url 'account_login' %}">
      <img src="{% static 'img/back-arrow-dark.png' %}" alt="Back" class="back back-dark" />
      <img src="{% static 'img/back-arrow-light.png' %}" alt="Back" class="back back-light" />
    </a>
    <p class="password-title">Reset your password</p>
    <p class="password-subtitle">
      Enter the email address associated with your account, and we'll send you a link to reset your
      password.
    </p>
    <form method="post">
      {% csrf_token %} {{ form.non_field_errors }}

      <div>
        <p class="field-label">Email</p>
        {{ form.email }} {{ form.email.errors }}
      </div>

      <button type="submit" class="password-button exp">Send reset link</button>
    </form>
  </div>
</div>
{% endblock %}
