{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="password-supercontainer">
    <div class="password-container">
        <a href="{% url 'account_login' %}">
            <img src="{% static 'img/back-arrow.png' %}" alt="Back">
        </a>
        <p class="password-title">Check your email</p>
        <p class="password-subtitle">If an account exists for the email you entered, we've sent password reset instructions.</p>
        <a href="{% url 'account_login' %}" class="password-button">
            Return to sign in
        </a>
    </div>
</div>
{% endblock %}