{% extends "base.html" %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% if step == 1 %}
        <h2>What is your preferred display name?</h2>

        <label for="{{ form.display_name.id_for_label }}">
            Display Name
        </label>
        {{ form.display_name }}
        {{ form.display_name.errors }}

    {% elif step == 2 %}
        <h2>Upload a display photo.</h2>

        <label for="{{ form.profile_picture.id_for_label }}">
            Profile Picture (Optional)
        </label>
        {{ form.profile_picture }}
        {{ form.profile_picture.errors }}

    {% elif step == 3 %}
        <h2>Add a bio.</h2>

        <label for="{{ form.bio.id_for_label }}">
            Bio (Optional)
        </label>
        {{ form.bio }}
        {{ form.bio.errors }}

    {% endif %}

    <button type="submit">
        {% if step == 3 %}
            Finish Profile
        {% else %}
            Continue
        {% endif %}
    </button>
</form>
{% endblock %}