{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="profile-supercontainer">
    <div class="profile-container">
        <div class="stepper-progress">

            {% if step == 1 %}

            <div class="icons-pages">
                <div class="name">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <circle cx="13.5" cy="13.5" r="13.5" fill="#19381B"/>
                    </svg>

                </div>
                <div class="photo">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9FCB98" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>


                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#9FCB98"/>
                    </svg>

                </div>
                <div class="bio">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9FCB98" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#9FCB98"/>
                    </svg>

                </div>
            </div>
            
            <div class="progress-bar"></div>

            {% elif step == 2 %}

            <div class="icons-pages">
                <div class="name">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <circle cx="13.5" cy="13.5" r="13.5" fill="#19381B"/>
                    </svg>

                </div>
                <div class="photo">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>


                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#19381B"/>
                    </svg>

                </div>
                <div class="bio">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9FCB98" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#9FCB98"/>
                    </svg>

                </div>
            </div>

            <a href="{% url 'accounts:set_profile' step=previous_step %}">
                <img src="{% static 'img/back-arrow.png' %}" alt="Back">
            </a>
            
            <div class="progress-bar"></div>

            {% elif step == 3 %}

            <div class="icons-pages">
                <div class="name">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <circle cx="13.5" cy="13.5" r="13.5" fill="#19381B"/>
                    </svg>

                </div>
                <div class="photo">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                    </svg>


                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#19381B"/>
                    </svg>

                </div>
                <div class="bio">

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#19381B" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 26 27" fill="none">
                        <ellipse cx="13" cy="13.5" rx="13" ry="13.5" fill="#19381B"/>
                    </svg>

                </div>
            </div>

            <a href="{% url 'accounts:set_profile' step=previous_step %}">
                <img src="{% static 'img/back-arrow.png' %}" alt="Back">
            </a>
            
            <div class="progress-bar"></div>

            {% endif %}

            <div 
                class="progress"
                data-progress="{% if step == 1 %}0{% elif step == 2 %}50{% elif step == 3 %}100{% endif %}">
            </div>

        </div>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% if step == 1 %}

            <p class="profile-form-title">
                Set a Display Name
            </p>

            <p class="field-label">
                Name
            </p>
            {{ form.display_name }}
            {{ form.display_name.errors }}

        {% elif step == 2 %}

            <p class="profile-form-title">
                Set a Display Photo
            </p>

            <p class="field-label">
                Display Photo (Optional)
            </p>

            <div class="upload-container">

                <div class="drop-zone">
                    <p class="upload-text">Drag & drop your image here</p>
                    <div class="divider">
                        <span class="upload-text or">or</span>
                    </div>

                    <label for="id_profile_picture" class="browse-button">
                        Browse files
                    </label>

                    {{ form.profile_picture }}
                </div>

                <div class="file-preview">
                    <p class="upload-text image">No file selected</p>
                </div>

            </div>

        {% elif step == 3 %}

            <p class="profile-form-title">
                Set a Bio
            </p>

            <p class="field-label">
                Write something about yourself / your mantra (Optional)
            </p>
            {{ form.bio }}
            {{ form.bio.errors }}

        {% endif %}

        <div class="button-container">
            <button type="submit" class="profile-button">
                {% if step == 3 %}
                    Finish Profile
                {% else %}
                    Continue
                {% endif %}
            </button>
        </div>
        
    </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/profile-setting.js' %}"></script>
{% endblock %}