{% extends "base.html" %} {% block main %}
<h1>Edit Profile</h1>

{% if user.profile.profile_picture %}
<img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" width="150" height="150" />
{% endif %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %} {{ form.non_field_errors }}

  <div>
    <label for="{{ form.display_name.id_for_label }}"> Display Name </label>
    <br />
    {{ form.display_name }} {{ form.display_name.errors }}
  </div>

  <br />

  <div>
    <label for="{{ form.profile_picture.id_for_label }}"> Profile Picture </label>
    <br />
    {{ form.profile_picture }} {{ form.profile_picture.errors }}
  </div>

  <br />

  <div>
    <label for="{{ form.bio.id_for_label }}"> Bio </label>
    <br />
    {{ form.bio }} {{ form.bio.errors }}
  </div>
</form>
{% endblock %}
